.container {
  padding: 2rem;
}

.range {
  display: flex;
}

.range input {
  margin: 0 0.5rem;
}

.container p {
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
}